@use '_variables' as *;

.main-button {
    font-family: $primaryFont;
    box-shadow: $mainBtnBoxShadow;
    cursor: pointer;
    margin-top: 40px;
    height: 40px;
    text-transform: uppercase;
    width: 130px;
    border-radius: 8px;
    border-width: initial;
    border-style: none;
    padding: 0px 12px;
    transition: color 0.5s ease-in-out 0s;
    font-size: 15px;
    font-weight: 600;
    background: $mainBtnBackground;
    color: $white;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.activate {
    transform: translateY(6px);
    box-shadow: none;
    outline: none;
}

.hidden {
    display: none;
}
